services:
  signato:
    image: documenso/documenso:latest
    restart: unless-stopped
    environment:
      NEXT_PRIVATE_DATABASE_URL: postgresql://signato_user:${SIGNATO_DB_PASSWORD}@central-postgres:5432/signato
      NEXT_PRIVATE_DIRECT_DATABASE_URL: postgresql://signato_user:${SIGNATO_DB_PASSWORD}@central-postgres:5432/signato
      NEXT_PUBLIC_WEBAPP_URL: https://documenso.2asoft.tech
      NEXTAUTH_URL: https://documenso.2asoft.tech
      NEXT_PUBLIC_MARKETING_URL: https://documenso.2asoft.tech
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      NEXT_PRIVATE_ENCRYPTION_KEY: ${ENCRYPTION_KEY}
      NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY: ${ENCRYPTION_SECONDARY_KEY}
      NEXT_PRIVATE_SIGNING_LOCAL_FILE_PATH: /opt/documenso/cert.p12
      NEXT_PRIVATE_SIGNING_PASSPHRASE: ${SIGNING_PASSPHRASE}
      NEXT_PRIVATE_SMTP_TRANSPORT: smtp-auth
      NEXT_PRIVATE_SMTP_HOST: mail.2asoft.tech
      NEXT_PRIVATE_SMTP_PORT: 587
      NEXT_PRIVATE_SMTP_USERNAME: contacto@2asoft.tech
      NEXT_PRIVATE_SMTP_PASSWORD: ${SMTP_PASSWORD}
      NEXT_PRIVATE_SMTP_FROM_ADDRESS: contacto@2asoft.tech
      NEXT_PRIVATE_SMTP_FROM_NAME: Trustgate - Firma segura
      NEXT_PRIVATE_SMTP_SECURE: false
      NEXT_PRIVATE_UPLOAD_TRANSPORT: s3
      NEXT_PRIVATE_UPLOAD_ENDPOINT: https://s3.2asoft.tech
      NEXT_PRIVATE_UPLOAD_FORCE_PATH_STYLE: true
      NEXT_PRIVATE_UPLOAD_REGION: us-east-1
      NEXT_PRIVATE_UPLOAD_BUCKET: signato
      NEXT_PRIVATE_UPLOAD_ACCESS_KEY_ID: ${MINIO_ROOT_USER}
      NEXT_PRIVATE_UPLOAD_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD}
      DOCUMENSO_DISABLE_TELEMETRY: true
      NEXT_PUBLIC_DISABLE_SIGNUP: true
      TZ: America/Bogota
    volumes:
      - /root/apps/signato/cert.p12:/opt/documenso/cert.p12:ro
    networks:
      - dokploy-network
      - shared-services
    depends_on:
      postgres-init:
        condition: service_completed_successfully
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=dokploy-network"
      - "traefik.http.routers.signato-secure.rule=Host(`documenso.2asoft.tech`)"
      - "traefik.http.routers.signato-secure.entrypoints=websecure"
      - "traefik.http.routers.signato-secure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.signato-secure.service=signato"
      - "traefik.http.services.signato.loadbalancer.server.port=3000"
      - "traefik.http.routers.signato.rule=Host(`documenso.2asoft.tech`)"
      - "traefik.http.routers.signato.entrypoints=web"
      - "traefik.http.routers.signato.middlewares=signato-redirect"
      - "traefik.http.middlewares.signato-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.signato-redirect.redirectscheme.permanent=true"

networks:
  dokploy-network:
    external: true
  shared-services:
    external: true